<div style="text-align: center">
    <h1>
        {{dictionary.forbidden}}
    </h1>
</div>
<img src="/images/404.jpg" alt="Page Not Found (404)." style="position: absolute; left: 50%; top: 50%; margin-left: -285px; margin-top: -190px;">
