<!--<script>
var data = {{{data_str}}};
</script>-->
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Список пользователей</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body box-primary">
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="users_table" class="table table-bordered table-striped dataTable" role="grid"
                               aria-describedby="example1_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                    colspan="1" aria-sort="ascending"
                                    style="width: 60px;">UserID
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    style="width: 180px;">
                                    FIO
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    style="width: 180px;">Email
                                </th>
                                <th  tabindex="0"  rowspan="1" colspan="1"
                                    style="width: 60px;">Email_v
                                </th>
                                <th  tabindex="0"  rowspan="1" colspan="1"
                                    style="width: 60px;">Not_ban
                                </th>
                                <th  tabindex="0"  rowspan="1" colspan="1"
                                    style="width: 60px;">Action
                                </th>

                            </tr>
                            </thead>
                           <!-- tbody here-->

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
