
        <!-- Your Page Content Here -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Основная информация</h3>
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Сегодня</a></li>
                                    <li><a href="#">Вчера</a></li>
                                    <li><a href="#">За 7 дней</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">За все время</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-center">
                                    <strong>Статистика за сегодня 03.12.2015</strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title ">KyivFashion 2016 (осень)</h3>
                                        <div class="pull-right" style="float: right">
                                            <img src="/dist/img/default-50x50.gif">
                                        </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <ul style="float: left">Количество заказов
                                        <li><i class="fa fa-user "></i>&nbsp;&nbsp;Обычных - 12</li>
                                        <li><i class="fa fa-user-plus "></i>&nbsp;&nbsp;Коллективных - 12 ( на 20 чел)
                                        </li>
                                        <li><i class="fa fa-users "></i>&nbsp;&nbsp;Итого заказано на 32 чел.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title ">KyivFashion 2016 (осень)</h3>
                                        <div class="pull-right" style="float: right">
                                            <img src="/dist/img/default-50x50.gif">
                                        </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <ul>Количество заказов
                                        <li><i class="fa fa-user "></i>&nbsp;&nbsp;Обычных - 12</li>
                                        <li><i class="fa fa-user-plus "></i>&nbsp;&nbsp;Коллективных - 12 ( на 20 чел)
                                        </li>
                                        <li><i class="fa fa-users "></i>&nbsp;&nbsp;Итого заказано на 32 чел.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title ">KyivFashion 2016 (осень)</h3>
                                        <div class="pull-right" style="float: right">
                                            <img src="/dist/img/default-50x50.gif">
                                        </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <ul>Количество заказов
                                        <li><i class="fa fa-user "></i>&nbsp;&nbsp;Обычных - 12</li>
                                        <li><i class="fa fa-user-plus "></i>&nbsp;&nbsp;Коллективных - 12 ( на 20 чел)
                                        </li>
                                        <li><i class="fa fa-users "></i>&nbsp;&nbsp;Итого заказано на 32 чел.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title ">KyivFashion 2016 (осень)</h3>
                                        <div class="pull-right" style="float: right">
                                            <img src="/dist/img/default-50x50.gif">
                                        </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <ul>Количество заказов
                                        <li><i class="fa fa-user "></i>&nbsp;&nbsp;Обычных - 12</li>
                                        <li><i class="fa fa-user-plus "></i>&nbsp;&nbsp;Коллективных - 12 ( на 20 чел)
                                        </li>
                                        <li><i class="fa fa-users "></i>&nbsp;&nbsp;Итого заказано на 32 чел.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title ">KyivFashion 2016 (осень)</h3>
                                        <div class="pull-right" style="float: right">
                                            <img src="/dist/img/default-50x50.gif">
                                        </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <ul>Количество заказов
                                        <li><i class="fa fa-user "></i>&nbsp;&nbsp;Обычных - 12</li>
                                        <li><i class="fa fa-user-plus "></i>&nbsp;&nbsp;Коллективных - 12 ( на 20 чел)
                                        </li>
                                        <li><i class="fa fa-users "></i>&nbsp;&nbsp;Итого заказано на 32 чел.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title ">KyivFashion 2016 (осень)</h3>
                                        <div class="pull-right" style="float: right">
                                            <img src="/dist/img/default-50x50.gif">
                                        </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <ul>Количество заказов
                                        <li><i class="fa fa-user "></i>&nbsp;&nbsp;Обычных - 12</li>
                                        <li><i class="fa fa-user-plus "></i>&nbsp;&nbsp;Коллективных - 12 ( на 20 чел)
                                        </li>
                                        <li><i class="fa fa-users "></i>&nbsp;&nbsp;Итого заказано на 32 чел.</li>
                                    </ul>
                                </div>
                            </div>
                    </div><!-- ./box-body -->
                </div><!-- /.box -->
            </div>
        </div>
