
        <!-- Your Page Content Here -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Основная информация</h3>
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Сегодня</a></li>
                                    <li><a href="#">Вчера</a></li>
                                    <li><a href="#">За 7 дней</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">За все время</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-center">
                                    <strong>Статистика на {{now}}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            {{#each orders}}
                            <div class="col-md-6">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title ">{{this.name_ru}}</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <ul style="float: left">Количество заказов
                                        <li><i class="fa fa-user "></i>&nbsp;&nbsp;За сегодня - {{this.orders.day}}</li>
                                        <li><i class="fa fa-users "></i>&nbsp;&nbsp;Итого - {{this.orders.total}} </li>
                                        <button class="btn btn-primary">Детальнее</button>
                                    </ul>
                                </div>

                            </div>
                            {{/each}}
                    </div><!-- ./box-body -->
                    <button class="btn btn-primary">Показать архив выставок</button>
                </div><!-- /.box -->
            </div>
        </div>
