<div class="box box-primary">
    <div class="box-body box-profile">

        <div class="col-md-4">
            <h5>Вид регистрации</h5>
            <select id="r_type_select">
                <option value="0" {{#IFactive_sub r_type '0'}}  selected {{/IFactive_sub}}>Стандартная</option>
                <option value="1" {{#IFactive_sub r_type '1'}}  selected {{/IFactive_sub}}>Упрощенная</option>
            </select>
            <button class="btn btn-success btn-sm" id="btn_save_registration_type">Сохранить</button>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>





