<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Регистрация</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="input_email">Email</label>
            <div class="col-md-4">
                <input id="input_email" name="input_email" type="text" placeholder="Email" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="input_password">Password</label>
            <div class="col-md-4">
                <input id="input_password" name="input_password" type="password" placeholder="Password" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="input_re_password">Re Enter Password</label>
            <div class="col-md-4">
                <input id="input_re_password" name="input_re_password" type="password" placeholder="Password" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="input_FIO">Фамилия Имя Очество</label>
            <div class="col-md-4">
                <input id="input_FIO" name="input_FIO" type="text" placeholder="Фамилия Имя Очество" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="input_mobile">Мобильный</label>
            <div class="col-md-4">
                <input id="input_mobile" name="input_mobile" type="text" placeholder="Мобильный" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="input_country">Страна</label>
            <div class="col-md-4">
                <select id="input_country" name="input_country" class="form-control">
                    <option value="1">Страна 1</option>
                    <option value="2">Страна 2</option>
                </select>
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="input_oblast">Область</label>
            <div class="col-md-4">
                <select id="input_oblast" name="input_oblast" class="form-control">
                    <option value="1">Option one</option>
                    <option value="2">Option two</option>
                </select>
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="input_city">Город</label>
            <div class="col-md-4">
                <select id="input_city" name="input_city" class="form-control">
                    <option value="1">Option one</option>
                    <option value="2">Option two</option>
                </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="input_city">Город</label>
            <div class="col-md-4">
                <input id="input_city" name="input_city" type="text" placeholder="Город" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="input_street_num">Номер дома</label>
            <div class="col-md-4">
                <input id="input_street_num" name="input_street_num" type="text" placeholder="Номер дома" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="input_office">№ Квартиры или офиса</label>
            <div class="col-md-4">
                <input id="input_office" name="input_office" type="text" placeholder="№ Квартиры или офиса" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="btn_register"></label>
            <div class="col-md-4">
                <button id="btn_register" name="btn_register" class="btn btn-success btn-block">Register</button>
            </div>
        </div>

    </fieldset>
</form>
