<form id="registration_form" class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Регистрация</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="input_firstname">First Name</label>
            <div class="col-md-4">
                <input id="input_firstname" name="input_firstname" type="text" placeholder="First Name" class="form-control input-md" required="">
                <span id="firstname_span" class="error" hidden>Enter your First Name</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="input_FIO">Last Name</label>
            <div class="col-md-4">
                <input id="input_lastname" name="input_lastname" type="text" placeholder="Last Name" class="form-control input-md" required="">
                <span id="lastname_span" class="error" hidden>Enter your Last Name</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="input_FIO">Company</label>
            <div class="col-md-4">
                <input id="input_company" name="input_company" type="text" placeholder="Company" class="form-control input-md" required="">
                <span id="span_company" class="error" hidden>Enter your Company</span>
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="input_country">Страна</label>
            <div class="col-md-4">
                <select id="input_country" name="input_country" class="form-control">

                </select>
                <span id="country_span" class="error" hidden>Нужно выбрать страну</span>
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="input_oblast">Область</label>
            <div class="col-md-4">
                <select id="input_oblast" name="input_oblast" class="form-control">

                </select>
                <span id="oblast_span" class="error" hidden>Нужно выбрать область</span>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="input_email">Email</label>
            <div class="col-md-4">
                <input id="input_email" name="input_email" type="text" placeholder="Email" class="form-control input-md" required="">
                <span id="email_span" class="error" hidden>Enter real email</span>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="input_mobile">mobile</label>
            <div class="col-md-4">
                <input id="input_mobile" name="input_mobile" type="text" placeholder="mobile" class="form-control input-md" required="">
                <span id="mobile_span" class="error" hidden>Введите номер телефона</span>
            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="input_password">Password</label>
            <div class="col-md-4">
                <input id="input_password" name="input_password" type="password" placeholder="Password" class="form-control input-md" required="">
                <span id="password_span" class="error" hidden>Пароль должен быть более 6 знаков и содержать только буквы и цыфры</span>

            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="input_re_password">Re Enter Password</label>
            <div class="col-md-4">
                <input id="input_re_password" name="input_re_password" type="password" placeholder="Password" class="form-control input-md" required="">
                <span id="repassword_span" class="error" hidden>Пароли не совпадают</span>
            </div>
        </div>





        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="btn_register"></label>
            <div class="col-md-4">
                <button id="btn_register" type="button" name="btn_register" class="btn btn-success btn-block">Register</button>
            </div>
        </div>

    </fieldset>
</form>
