
<div id="query_block" ex_id = "{{ex_id}}" ex_name="{{ex_name}}" >
</div>

<script src="/js/quering.js"> </script>
<script src="/js/js-quiz-plugin.min.js"> </script>
<link href="/css/js-quiz-plugin.min.css" rel="stylesheet">